* {
    margin: 0px;
    padding: 0px;

}

p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
    line-height : 1.5;
    font-size: 18px;
    font-weight: 400;
}
body {
    font-family: "Rubik", sans-serif;
}
.my_border {
    border: 0px solid silver;
}

.border_r {
    border: 2px solid #ab9f9f;
    border-radius: 15px;

}

.subHeader{
    background-color: #1e1e46;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px 13px 0px 0px;
}
.subHeader h3{
    color: white;
}



.subPrice{
    display: flex;
    height: 30px;
    padding-top: 10px;
    align-items: center;
    margin: 20px;
    justify-content: center;
}



@media (max-width: 849px) {
    h1 { font-size: 26px; }
    p {font-size: 16px;}


}

@media (min-width: 850px) {
    h1 { font-size: 32px; }


}



.mainChartData {
    display: flex;

    margin-left: 10px;
    justify-content: space-between;

}


.HeaderContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
}

input[type=checkbox]  {


    width: 25px;
    height: 25px;
    line-height: 0.35em;
    margin: 4px 8px 8px 8px;


    vertical-align: middle;
}

.myHeight {
    height: 100px;
}

h4 {

    font-size: 14px;
    font-family: "Trebuchet MS", serif;
}

h3 {

    color: rgb(0, 0, 0);;
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    font-family: "Trebuchet MS", serif;

}

h1 {

    text-align: center;
    font-family: 'Lato', Tahoma, sans-serif;
    color: rgb(63, 38, 38);
    font-weight: normal ;
}

h2 {

    text-align: center;
    font-family: 'Lato', Tahoma, sans-serif;
    color: rgb(63, 38, 38);
    font-weight: normal ;
}

button {
    background: none;
    outline: none;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;

}

.button1 {
    background-color: #48ada7;
    border: none;
    color: white;
    padding: 10px 20px 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 30px;
}
.button1:hover {
    background: #363d9d;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}

.button3 {
    background-color: #48ada7;
    border: none;
    color: white;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 6px;
    border-radius: 10px;
}
.button3:hover {
    background: #363d9d;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}

.button3_down {
    background: #363d9d;
    border: none;
    color: white;
    padding: 5px 15px 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 6px;

    border-radius: 10px;
}

.button2 {
    background-color: #48ada7;
    border: none;
    color: white;
    padding: 7px 16px 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 23px;
}

.button2_2 {
    background-color: #d1f1ef;
    border: none;
    color: #000000;
    padding: 7px 16px 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 23px;
}

.button2:hover {
    background: #363d9d;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}

.button2_2:hover {
    background: #757ad9;
    box-shadow: 0 13px 27px 0 rgb(245 78 162 / 25%);
}


/*-------------------------------------------------------*/
.bgColorSilver{
    padding-top: 50px;
    padding-bottom: 50px;
    /*background-color: #e9f1da;*/
    background-color: #1e1e46;

}
.bgColorSilver h1{
    color: white;
}
.bgColorSilver p {
    color: white;
    margin-top: 20px;
}

.bgColorBlue{
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: #e9f1da;*/
    background-color: #85a0d2;

}
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img_l {
    width: 48px;
    height: 48px;
    object-fit: contain;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);

}

.img_K {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
margin-bottom: 40px;
}


